body
{
background-color: rgb(55, 55, 156);
}

h1
{
  color:rgb(241, 240, 248);
  background-color:rgb(115, 79, 122);
  text-align: center;
font-family: Georgia;
font-size: 70px;
  }
#show_sketch
{
  float:right;
  margin-top: 3px;
  margin-right: 5px;
  font-family: 'Gloock', serif;
  font-size: 20px;
}

#label, #confidence{
  font-family: 'comic', cursive;
  font-style:normal;
  color: rgb(249, 247, 250);
font-size: 30px;
background-color: rgb(49, 21, 81);
width: 30%;
}
canvas  
  {
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px; 
    animation-iteration-count: infinite;
    
}
@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(246, 3, 197);}
  to {box-shadow: 1px 1px 38px rgb(5, 5, 248);}

}

p
  {
    padding-top:10px;
    font-size:25px;
    
  }
#hola{
  font-family: comic;
  font-size: 50px;
}


/* hola*/